<div class="container text-center">
  <div class="d-flex justify-content-around mb-5">
    <h2>Disease Type</h2>
    <a
      href=""
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal3"
      >Create</a
    >
  </div>
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col-2">#</th>
        <th scope="col-2">Id</th>
        <th scope="col-2">Description</th>
        <th scope="col-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let diseaseType of diseaseTypes; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ diseaseType.id }}</td>
        <td>{{ diseaseType.description }}</td>
        <td>
          <div class="d-flex justify-content-around">
            <a
              href=""
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal4"
              (click)="editDiseaseType(diseaseType.id)"
              >Edit</a
            >
            <button class="btn btn-danger" (click)="deleteDiseaseType(diseaseType.id)">
              Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="exampleModal4" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Disease Type</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="diseaseTypesForm">
          <div class="mb-3">
            <label class="form-label">Disease Type Id</label>
            <input type="number" formControlName="id" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" formControlName="description" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          #closeModal4
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary" (click)="saveChangesDiseaseType()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create Disease Type</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="diseaseTypesForm">
          <div class="mb-3">
            <label class="form-label">Disease Type Id</label>
            <input type="number" formControlName="id" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" formControlName="description" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          #closeModal3
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary" (click)="createDiseaseType()">
          Add
        </button>
      </div>
    </div>
  </div>
</div>


<div class="container text-center">
    <div class="d-flex justify-content-around mb-5">
      <h2>Disease</h2>
      <a
        href=""
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal2"
        >Create</a
      >
    </div>
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th scope="col-2">#</th>
          <th scope="col-2">Disease Code</th>
          <th scope="col-2">Pathogen</th>
          <th scope="col-2">Description</th>
          <th scope="col-2">Id</th>
          <th scope="col-2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let disease of diseaseArr; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ disease.disease_code }}</td>
          <td>{{ disease.pathogen }}</td>
          <td>{{ disease.description }}</td>
          <td>{{ disease.id }}</td>
          <td>
            <div class="d-flex justify-content-around">
              <a
                href=""
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal1"
                (click)="edit(disease.disease_code)"
                >Edit</a
              >
              <button class="btn btn-danger" (click)="delete(disease.disease_code)">
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Disease</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="diseases">
            <div class="mb-3">
              <label class="form-label">Disease Code</label>
              <input type="text" formControlName="disease_code" class="form-control" />
            </div>
            <div class="mb-3">
              <label class="form-label">Pathogen</label>
              <input type="text" formControlName="pathogen" class="form-control" />
            </div>
            <div class="mb-3">
              <label class="form-label">Description</label>
              <input type="text" formControlName="description" class="form-control" />
            </div>
            <div class="mb-3">
              <label class="form-label">Id</label>
              <input
                type="number"
                formControlName="id"
                class="form-control"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            #closeModal1
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary" (click)="saveChanges()">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Disease</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="diseases">
            <div class="mb-3">
                <label class="form-label">Disease Code</label>
                <input type="text" formControlName="disease_code" class="form-control" />
              </div>
              <div class="mb-3">
                <label class="form-label">Pathogen</label>
                <input type="text" formControlName="pathogen" class="form-control" />
              </div>
              <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" formControlName="description" class="form-control" />
              </div>
              <div class="mb-3">
                <label class="form-label">Id</label>
                <input
                  type="number"
                  formControlName="id"
                  class="form-control"
                />
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button
            #closeModal2
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary" (click)="create()">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
  